USE [GroceryInventoryDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/3/2026 4:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 7/3/2026 4:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[ItemName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIns]    Script Date: 7/3/2026 4:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIns](
	[StockInId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[StockInDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StockIns] PRIMARY KEY CLUSTERED 
(
	[StockInId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOuts]    Script Date: 7/3/2026 4:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOuts](
	[StockOutId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Reason] [nvarchar](50) NOT NULL,
	[StockOutDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StockOuts] PRIMARY KEY CLUSTERED 
(
	[StockOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 7/3/2026 4:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedDate]) VALUES (2, N'Rice', N'All types of rice including Basmati, Kekulu, and Samba', 1, CAST(N'2026-06-30T16:14:26.6881282' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedDate]) VALUES (3, N'Flour', N'Wheat flour, corn flour, and other baking flours', 1, CAST(N'2026-07-02T10:00:37.6608741' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [IsActive], [CreatedDate]) VALUES (4, N'Oil', N'Cooking oils including sunflower, coconut, and vegetable oil', 1, CAST(N'2026-07-02T10:01:08.9951034' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemId], [ItemCode], [Barcode], [ItemName], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [ReorderLevel], [IsActive], [CreatedDate]) VALUES (1, N'RICE001', N'8901234567890', N'	Basmati Rice 1kg', 2, 1, CAST(150.00 AS Decimal(18, 2)), CAST(210.00 AS Decimal(18, 2)), 20, 1, CAST(N'2026-06-30T16:17:12.3152387' AS DateTime2))
INSERT [dbo].[Items] ([ItemId], [ItemCode], [Barcode], [ItemName], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [ReorderLevel], [IsActive], [CreatedDate]) VALUES (2, N'RICE002', N'8901234567891', N'Kekulu Rice 100kg', 2, 1, CAST(120.00 AS Decimal(18, 2)), CAST(180.00 AS Decimal(18, 2)), 20, 1, CAST(N'2026-07-02T10:10:48.4817397' AS DateTime2))
INSERT [dbo].[Items] ([ItemId], [ItemCode], [Barcode], [ItemName], [CategoryId], [SupplierId], [CostPrice], [SellingPrice], [ReorderLevel], [IsActive], [CreatedDate]) VALUES (3, N'RICE003', N'8901234567892', N'Samba Rice 100kg', 2, 1, CAST(140.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 20, 1, CAST(N'2026-07-02T10:12:01.9423888' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[StockIns] ON 

INSERT [dbo].[StockIns] ([StockInId], [ItemId], [SupplierId], [Quantity], [CostPrice], [StockInDate], [CreatedDate]) VALUES (1, 1, 1, 1, CAST(150.00 AS Decimal(18, 2)), CAST(N'2026-06-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-30T16:18:15.8445154' AS DateTime2))
INSERT [dbo].[StockIns] ([StockInId], [ItemId], [SupplierId], [Quantity], [CostPrice], [StockInDate], [CreatedDate]) VALUES (2, 2, 1, 100, CAST(120.00 AS Decimal(18, 2)), CAST(N'2026-07-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-02T12:14:54.5170816' AS DateTime2))
INSERT [dbo].[StockIns] ([StockInId], [ItemId], [SupplierId], [Quantity], [CostPrice], [StockInDate], [CreatedDate]) VALUES (3, 4, 1, 120, CAST(180.00 AS Decimal(18, 2)), CAST(N'2026-07-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-02T12:14:54.7706078' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockIns] OFF
GO
SET IDENTITY_INSERT [dbo].[StockOuts] ON 

INSERT [dbo].[StockOuts] ([StockOutId], [ItemId], [Quantity], [Reason], [StockOutDate], [CreatedDate]) VALUES (1, 2, 2, N'Expired', CAST(N'2026-07-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-02T12:54:00.1056017' AS DateTime2))
INSERT [dbo].[StockOuts] ([StockOutId], [ItemId], [Quantity], [Reason], [StockOutDate], [CreatedDate]) VALUES (2, 9, 5, N'Return to Supplier', CAST(N'2026-07-02T00:00:00.0000000' AS DateTime2), CAST(N'2026-07-02T12:54:21.1791786' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockOuts] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [ContactNumber], [Email], [Address], [IsActive], [CreatedDate]) VALUES (1, N'Ceylon Foods (Pvt) Ltd', N'077-1234567', N'info@ceylonfoods.lk', N'No. 123, Galle Road, Colombo 03, Sri Lanka', 1, CAST(N'2026-06-30T16:15:41.2164846' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [ContactNumber], [Email], [Address], [IsActive], [CreatedDate]) VALUES (2, N'Lanka Mills (Pvt) Ltd', N'011-9876543', N'info@lankamills.lk', N'No. 456, Kandy Road, Kurunegala, Sri Lanka', 1, CAST(N'2026-07-02T10:04:01.8068741' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [ContactNumber], [Email], [Address], [IsActive], [CreatedDate]) VALUES (3, N'Sunshine Distributors', N'055-7890123', N'info@sunshine.lk', N'No. 789, Matara Road, Galle, Sri Lanka', 1, CAST(N'2026-07-02T10:05:06.8023567' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StockIns] ADD  DEFAULT (getdate()) FOR [StockInDate]
GO
ALTER TABLE [dbo].[StockIns] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StockOuts] ADD  DEFAULT (getdate()) FOR [StockOutDate]
GO
ALTER TABLE [dbo].[StockOuts] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Items_ItemId]
GO
ALTER TABLE [dbo].[StockIns]  WITH CHECK ADD  CONSTRAINT [FK_StockIns_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[StockIns] CHECK CONSTRAINT [FK_StockIns_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[StockOuts]  WITH CHECK ADD  CONSTRAINT [FK_StockOuts_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StockOuts] CHECK CONSTRAINT [FK_StockOuts_Items_ItemId]
GO
